@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* #c471ed - purple color */

* {
  font-family: "Roboto", sans-serif;
}
/* header section */

header {
  background-image: linear-gradient(to right, #c471ed, #f64f59);
}
#css-tasty-logo {
  width: 10rem;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: #12c2e9;
}

.search {
  width: 50%;
}

.search-btn {
  border: 1px solid #12c2e9;
  transition: all 0.3s ease-out;
}

.search-btn:hover {
  border-color: transparent;
  background-image: linear-gradient(to right, #c471ed, #f64f59);
  color: #fff;
  border: none;
}

.hero-content {
  height: 100vh;
}

.hero-text {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
}
.hero-cta {
  color: #12c2e9;
  transition: 0.3s;
}

.hero-cta:hover {
  color: #f64f59;
}

#component-img {
  transform: scaleX(-1);
}

/* footer section */
footer {
  background-color: #393e46;
}
ul li {
  list-style-type: none;
}
.footer-nav-links {
  text-decoration: none;
  color: #12c2e9;
  transition: 0.3s;
}

.footer-nav-links:hover {
  color: #fff;
}

.footer-social-media-icons i {
  font-size: 1.5rem;
  color: #12c2e9;
}

.footer-social-media-icons i:hover {
  color: #fff;
}
