@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

/* header section */

header {
  background-image: linear-gradient(to right, #12c2e9, #c471ed);
}

#css-tasty-logo {
  width: 10rem;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  color: #12c2e9;
}

.hero-cta {
  border: 1px solid #fff;
  width: 15%;
  color: #fff;
  transition: 0.3s;
}

.hero-cta:hover {
  background-image: linear-gradient(90deg, #c471ed, #f64f59);
  color: #fff;
  border: none;

}

.hero-content {
  height: 100vh;
}

.hero-content .row {
  height: 80vh;
}

.hero-text {
  font-size: 5rem;
  font-weight: 500;
}

/* footer section */
footer {
  background-color: #393e46;
}
ul li {
  list-style-type: none;
}

footer .d-flex {
  justify-content: space-between;
  align-items: center;
}

.footer-nav-links {
  text-decoration: none;
  color: #12c2e9;
  transition: 0.3s;
}

.footer-nav-links:hover {
  color: #fff;
}

.footer-social-media-icons i {
  font-size: 1.5rem;
  color: #12c2e9;
}

.footer-social-media-icons i:hover {
  color: #fff;
}

#copyright {
  color: rgba(255, 255, 255, 0.489);
  font-size: 0.8rem;
}
