@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#css-tasty-logo {
    width: 10rem;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: #12C2E9;
}

.search {
    width: 50%;
}

.search-btn {
   border: 1px solid linear-gradient(red, yellow, blue) 
}
